body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: black; */
    
}

.navbar{
    width: 100%;
    height: 25px;
    
}
.container .navbar .logo{
    width: 5em;
    margin-top: 20px;
    margin-left: 20px;
   
}
.container .navbar .first-ul{
    display: none;
}
 .container .navbar{
    display: grid;
    grid-template-columns: 180px auto;
   
  }
  /* .navbar nav {
      display: flex;
      justify-content: space-between;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;

  } */

.navbar nav .second-ul{
    display: flex;
    justify-content: space-between;
    float: right;
    margin: .5em;
    
}

.navbar nav .second-ul li{
    list-style-type: none;
    margin-right: 10px;
    
}
.navbar nav .second-ul li .word {
    width: 25px;
}
.navbar .srch {
    width: 25px;
}
.navbar .menu-2{
    width: 35px;
}
.navbar nav .second-ul li a{
    float: right;
    margin: .5em;
}

.header{
    width: 100%;
    height: 90vh;
    margin-top: 35px;
}

.header .home{
    width: 100%;
    height: auto;
}
.header .home img{
    width: 100%;
    height: auto;
   
}

.header .home .more-Info{
    margin-top: -20em;
    margin-left: 1.3em;
    color: rgb(239, 234, 234);
}

.header .home .more-Info .arrow1{
    width: 15px;
    margin-left: .5em;
   
}
.header .home .more-Info .arrow2{
    width: 15px;
    margin-left: 12em;
}
.header .home .more-Info .arrow3{
    width: 15px;
    margin-left: 14.5em;
}
.header .home .more-Info .arrow4{
    width: 15px;
    margin-left: 16.8em;
}