body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: black; */
    
}

.navbar{
    width: 100%;
    height: 25px;
    
}
.container .navbar .logo{
    width: 5em;
    margin-top: 20px;
    margin-left: 20px;
   
}
.container .navbar .first-ul{
    display: none;
}
 .container .navbar{
    display: grid;
    grid-template-columns: 180px auto;
   
  }
  /* .navbar nav {
      display: flex;
      justify-content: space-between;
      background: none;
      position: unset;
      height: auto;
      width: 100%;
      padding: 0;

  } */

.navbar nav .second-ul{
    display: flex;
    justify-content: space-between;
    float: right;
    margin: .5em;
    
}

.navbar nav .second-ul li{
    list-style-type: none;
    margin-right: 10px;
    
}
.navbar nav .second-ul li .word {
    width: 25px;
}
.navbar .srch {
    width: 25px;
}
.navbar .menu-2{
    width: 35px;
}
.navbar nav .second-ul li a{
    float: right;
    margin: .5em;
}

.header{
    width: 100%;
    height: 90vh;
    margin-top: 35px;
}

.header .home{
    width: 100%;
    height: auto;
}
.header .home img{
    width: 100%;
    height: auto;
   
}

.header .home .more-Info{
    margin-top: -20em;
    margin-left: 1.3em;
    color: rgb(239, 234, 234);
}

.header .home .more-Info .arrow1{
    width: 15px;
    margin-left: .5em;
   
}
.header .home .more-Info .arrow2{
    width: 15px;
    margin-left: 12em;
}
.header .home .more-Info .arrow3{
    width: 15px;
    margin-left: 14.5em;
}
.header .home .more-Info .arrow4{
    width: 15px;
    margin-left: 16.8em;
}
.header .part{
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 5em;
    margin-left: .5em;
    gap: 10px;

}
.header .part .part-left{
    background: black;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.header .part .part-rigth{
    background: black;
    margin-right: .5em;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
}
.header .part .part-left p{
    padding-left: 5px;
    padding-top: 15px;
    font-style: normal;
    text-transform: uppercase;
}
.header .part .part-rigth  p{
    padding-left: 5px;
    padding-top: 15px;
    font-style: normal;
    text-transform: uppercase;
}
section {
    padding: 0;
  }
  .about {
    font-family: "Poppins", sans-serif;
  }
  /* about */
  .about .tittle {
    color: #444444;
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    float: left;
    margin-top: -5em;
    margin-left: .3em;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
  }
  .about .tittle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    height: 5px;
    margin-left: -.2em;
    background:#127960;
    transform: translateX(-50%);
  }
  .about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .about .about-content .left {
    width: 100%;
    margin-bottom: 10em;
  }
  .about .about-content img {
    height: 300px;
    width: 480px;
    margin-left: .5em;
    margin-top: -7em;
    object-fit: cover;
    
  }
  .about .about-content .left h3{
      font-size: 16px;
      font-weight: 400;
      margin: .5em;
  }
  .about .about-content .left p{
      font-size: 12px;
      margin: .5em;
      font-weight: 100;
  }
 
  .about .about-content .left .learmore {
    color:black;
    position: relative;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    float: left;
    margin-top: 15px;
    margin-left: .3em;
    margin-bottom: 30px;
    padding-bottom: 10px;
    font-family: "Ubuntu", sans-serif;
  }

  .about .about-content .left .learmore::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 490px;
    height: 5px;
    margin-left: 18em;
    background:#127960;
    transform: translateX(-50%);
  }


  .project {
    color: #fff;
   
  }
  .project .max-width p {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-family: Roboto;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .project .project-content {
    display: block;
    flex-wrap: wrap;
    font-weight: 500;
    justify-content: space-between;
  }
  .project .project-content .part {
    width: 480px;
    justify-content: center;
    margin-left: .5em;
    margin-bottom: 2em;
    background: #222;
    border: 1px solid #127960;
    border-radius: 5px;
    text-align: center;
  }
  .project .project-content .part img {
    width: 480px;
    height: 460px;
    padding-top: 15px;
    object-fit: cover;
    transition: all 0.3s ease;
  }
  /* .project .project-content .part:hover {
    background: #050505;
  } */
  .project .project-content .part .box {
    transition: all 0.3s ease;
  }
  .project .project-content .part:hover .box {
    transform: scale(1.05);
  }
  .project .text-2 {
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    margin: 20px 10px;
    text-align: center;
    justify-content: center;
  }
  .project .text-2 span {
    color: #127960;
    font-size: 18px;
    font-weight: 600;
  }
  @media only  screen and  (min-width: 1440px){

    .about {
        margin-top: 35em;
    }
    .about .about-content{
        display: grid;
        grid-template-columns: repeat(5, 15% );
        gap: 5px;
        /* /* margin-right: 5em; */
    } 
    .about .about-content .left img{
        width: 350px;
    }

  }
  .project .project-content{
      display: grid;
      grid-template-columns: repeat(3, auto);
  }
      








 
